html { height:100%;}

body {
    height:100%;
    padding: 0;
    margin: 0;
}

#map {
	width: 100%;
	margin: 0 auto;
	height: 95%;
}

#header {
	margin-top: 0px;
	margin-bottom: 0px;
}


.info {
    z-index: 1000;
    position: absolute;
    right: 40%;
    top: 5%;
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    text-align: center;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h1 {
    font-size: 16px;
    margin: 0 0 5px;
    color: #777777;
}


.legend {
	line-height: 18px;
	color: #333333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	padding: 6px 8px;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.legend i {
	width: 28px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}


.legend p {
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}



